{
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "plugins": ["simple-import-sort"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {},
            {
                "usePrettierrc": true
            }
        ],
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["hrefLeft", "hrefRight"],
                "aspects": ["invalidHref", "preferButton"]
            }
        ],
        "simple-import-sort/imports": "error",
        "simple-import-sort/exports": "error",
        "indent": ["error", 4, {"SwitchCase": 1}],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "no-console": [
            2,
            {
                "allow": ["warn", "error"]
            }
        ],
        "brace-style": "warn",
        "prefer-const": "warn",
        "no-var": "warn",
        "comma-spacing": "warn",
        "comma-dangle": ["warn", "always-multiline"],
        "comma-style": "warn",
        "curly": ["warn", "multi-line", "consistent"],
        "dot-location": ["warn", "property"],
        "no-empty-function": "warn",
        "no-multiple-empty-lines": [
            "warn",
            {
                "max": 2
            }
        ],
        "no-shadow": ["warn"],
        "object-curly-spacing": ["warn", "always"],
        "space-unary-ops": "warn",
        "spaced-comment": "warn"
    }
}
